@model IEnumerable<PsychologicalSupports.Models.PersonaAnxietyScale>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.School)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interpersonal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Self_assessment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.General)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.FIO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.School)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interpersonal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Self_assessment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.General)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FIO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonaAnxietyScaleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonaAnxietyScaleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonaAnxietyScaleID })
        </td>
    </tr>
}

</table>
