@model IEnumerable<PsychologicalSupports.Models.Intellectual_9_Class>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Profile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.FIO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Profile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FIO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Intellectual_9_ClassID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Intellectual_9_ClassID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Intellectual_9_ClassID })
        </td>
    </tr>
}

</table>
