@model PsychologicalSupports.Models.Intellectual_6_Class

@{
    ViewBag.Title = "Удалить";
}

<h2>Удалить</h2>
<h4>6 класс</h4>
<h3>Вы действительно хотите удалить данного учащегося?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FIO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TestResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AveragePoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AveragePoint)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-success" /> 
            @Html.ActionLink("Карточка учащегося", "Details","Students", new { id = Model.StudentID }, new { @class = "btn btn-primary" })
        </div>
    }
</div>
