@model PsychologicalSupports.Models.Intellectual_6_Class

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Intellectual_6_Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FIO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TestResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AveragePoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AveragePoint)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
