
@{
    ViewBag.Title = "Archive";
}

<h2>Учащиеся</h2>

<div>
    <p>
        @Html.ActionLink("Сформировать отчет", "Download", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-success" })
    </p>

    @using (Html.BeginForm())
    {
        <div class="div-list">
            @Html.DropDownList("Class", new SelectList(PsychologicalSupports.Enums.GetClass()), new { @class = "list" })
        </div>
        <div class="div-list">
            @Html.DropDownList("NumberClass", new SelectList(PsychologicalSupports.Enums.GetNumberClass()), new { @class = "list" })
        </div>
        <input class="btn btn-info" type="submit" value="Фильтровать" />
    }

    @Html.Partial("~/Views/Partials/_StudentTable.cshtml");
</div>

