
@{
    ViewBag.Title = "Archive";
}

<h2>Учащиеся</h2>

<div>
    <ul class="nav nav-tabs">
        <li>@Html.ActionLink("Обучается", "Index")</li>
        <li class="active">@Html.ActionLink("Не обучается", "Archive")</li>
    </ul>

    <p>
        @Html.ActionLink("Сформировать отчет", "Download", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-success" })
    </p>
    @using (Html.BeginForm())
    {
        <p>
            Поиск: @Html.TextBox("search")
            <input class="btn btn-info" type="submit" value="Поиск" />
        </p>

        @Html.DropDownList("Class", new SelectList(Enum.GetValues(typeof(PsychologicalSupports.Enum.Class))), new { @class = "dropdown-list-size" })

        @Html.DropDownList("NumberClass", new SelectList(PsychologicalSupports.Enums.GetNumberClass(), new { @class = "dropdown-list-size" }))
    }

    @Html.Partial("~/Views/Students/_StudentTable.cshtml");
</div>

