@{
    /**/

    ViewBag.Title = "CreateFromExcel";
}

@model PsychologicalSupports.Models.Student
<h2>Создать</h2>

@using (Html.BeginForm("CreateFromExcel", "Students", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Учащиеся</h4>
        <hr />
        <div class="form-group">
            @Html.Label("Файл", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="UploadedFile"/>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NumberClass, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.NumberClass, new SelectList(PsychologicalSupports.Enums.GetNumberClass()), new { @class = "dropdown-list-size" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Class, new SelectList(PsychologicalSupports.Enums.GetClass()), new { @class = "dropdown-list-size" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdmissionDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdmissionDate, new { htmlAttributes = new { @class = "form-control datepicker dropdown-list-size", @type = "date" } })
                @Html.ValidationMessageFor(model => model.AdmissionDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BeingTrained, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BeingTrained, new List<SelectListItem>
                {
                    new SelectListItem{ Text="Обучается", Value = "true" },
                    new SelectListItem{ Text="Не обучается", Value = "false" }
                }, new { @class = "dropdown-list-size" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-info" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Вернутся", "Index", null, new { @class = "btn btn-primary" })
</div>

