@model PsychologicalSupports.Models.StudentDetails

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<h3>Вы действительно хотите удалить данного учащегося?</h3>
<div>
    <h4>Учащиеся</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIO)
        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.NumberClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberClass)
        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.AdmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionDate)
        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.BeingTrained)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeingTrained)
        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.ClassroomRelationship)
        </dt>

        <dd>
            <p class="col-sm-1">
                @Html.DisplayFor(model => model.ClassroomRelationship)
            </p>

        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.ClassTeacheInformation)
        </dt>

        <dd>
            <p class="col-sm-1">
                @Html.DisplayFor(model => model.ClassTeacheInformation)
            </p>

        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.EmotioTest)
        </dt>

        <dd>
            <p class="col-sm-1">
                @Html.DisplayFor(model => model.EmotioTest)
            </p>

        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyAlarmAnalysi)
        </dt>

        <dd>
            <p class="col-sm-1">
                @Html.DisplayFor(model => model.FamilyAlarmAnalysi)
            </p>

        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.Intellectual_6_Class)
        </dt>

        <dd>
            <p class="col-sm-1">
                @Html.DisplayFor(model => model.Intellectual_6_Class)
            </p>

        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.Intellectual_7_Class)
        </dt>

        <dd>
            <p class="col-sm-1">
                @Html.DisplayFor(model => model.Intellectual_7_Class)
            </p>

            <br>

        <dt>
            @Html.DisplayNameFor(model => model.Intellectual_8_Class)
        </dt>

        <dd>
            <p class="col-sm-1">
                @Html.DisplayFor(model => model.Intellectual_8_Class)
            </p>

        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.Intellectual_9_Class)
        </dt>

        <dd>
            <p class="col-sm-1">
                @Html.DisplayFor(model => model.Intellectual_9_Class)
            </p>

        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.Interests_Card_145)
        </dt>

        <dd>
            <p class="col-sm-1">
                @Html.DisplayFor(model => model.Interests_Card_145)
            </p>

        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.Interests_Card_50)
        </dt>

        <dd>
            <p class="col-sm-1">
                @Html.DisplayFor(model => model.Interests_Card_50)
            </p>

        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.InterestsInSchoolSubject)
        </dt>

        <dd>
            <p class="col-sm-1">
                @Html.DisplayFor(model => model.InterestsInSchoolSubject)
            </p>

        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.PersonaAnxietyScale)
        </dt>

        <dd>
            <p class="col-sm-1">
                @Html.DisplayFor(model => model.PersonaAnxietyScale)
            </p>
        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalProtagonistAizenko)
        </dt>

        <dd>
            <p class="col-sm-1">
                @Html.DisplayFor(model => model.PersonalProtagonistAizenko)
            </p>
        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolMotivation)
        </dt>

        <dd>
            <p class="col-sm-1">
                @Html.DisplayFor(model => model.SchoolMotivation)
            </p>
        </dd>
        <br>

        <dt>
            @Html.DisplayNameFor(model => model.Self_esteem)
        </dt>

        <dd>
            <p class="col-sm-1">
                @Html.DisplayFor(model => model.Self_esteem)
            </p>
        </dd>
        <br>

    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Удалить" class="btn btn-success" /> 
        @Html.ActionLink("Вернутся", "Index", null, new { @class = "btn btn-primary" })
    </div>
}
</div>
