@model PsychologicalSupports.Models.StudentDetails

@{
    ViewBag.Title = "Details";
}

<h2>Подробнее</h2>

<div>
    <h4>Учащиеся</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIO)
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.NumberClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberClass)
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.AdmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionDate)
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.BeingTrained)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeingTrained)
        </dd><br>
        
        <dt>
            @Html.DisplayNameFor(model => model.ClassroomRelationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassroomRelationship)
            @if (Model.ClassroomRelationship != String.Empty)
            {
                @Html.ActionLink("Подробнее", "Details", "ClassroomRelationships", new { id = Model.StudentID }, new { @class = "btn" })
                @Html.ActionLink("Изменить", "Edit", "ClassroomRelationships", new { id = Model.StudentID }, new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Создать", "Create", "ClassroomRelationships", new { id = Model.StudentID }, new { @class = "btn" })
            }
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.ClassTeacheInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassTeacheInformation)
            @if (Model.ClassTeacheInformation != String.Empty)
            {
                @Html.ActionLink("Подробнее", "Details", "ClassTeacheInformations", new { id = Model.StudentID }, new { @class = "btn" })
                @Html.ActionLink("Изменить", "Edit", "ClassTeacheInformations", new { id = Model.StudentID }, new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Создать", "Create", "ClassTeacheInformations", new { id = Model.StudentID }, new { @class = "btn" })
            }
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.EmotioTest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmotioTest)
            @if (Model.EmotioTest != String.Empty)
            {
                @Html.ActionLink("Подробнее", "Details", "EmotioTests", new { id = Model.StudentID }, new { @class = "btn" })
                @Html.ActionLink("Изменить", "Edit", "EmotioTests", new { id = Model.StudentID }, new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Создать", "Create", "EmotioTests", new { id = Model.StudentID }, new { @class = "btn" })
            }
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyAlarmAnalysi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyAlarmAnalysi)
            @if (Model.FamilyAlarmAnalysi != String.Empty)
            {
                @Html.ActionLink("Подробнее", "Details", "FamilyAlarmAnalysis", new { id = Model.StudentID }, new { @class = "btn" })
                @Html.ActionLink("Изменить", "Edit", "FamilyAlarmAnalysis", new { id = Model.StudentID }, new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Создать", "Create", "FamilyAlarmAnalysis", new { id = Model.StudentID }, new { @class = "btn" })
            }
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.Intellectual_6_Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intellectual_6_Class)
            @if (Model.Intellectual_6_Class != String.Empty)
            {
                @Html.ActionLink("Подробнее", "Details", "Intellectual_6_Class", new { id = Model.StudentID }, new { @class = "btn" })
                @Html.ActionLink("Изменить", "Edit", "Intellectual_6_Class", new { id = Model.StudentID }, new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Создать", "Create", "Intellectual_6_Class", new { id = Model.StudentID }, new { @class = "btn" })
            }
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.Intellectual_7_Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intellectual_7_Class)
            @if (Model.Intellectual_7_Class != String.Empty)
            {
                @Html.ActionLink("Подробнее", "Details", "Intellectual_7_Class", new { id = Model.StudentID }, new { @class = "btn" })
                @Html.ActionLink("Изменить", "Edit", "Intellectual_7_Class", new { id = Model.StudentID }, new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Создать", "Create", "Intellectual_7_Class", new { id = Model.StudentID }, new { @class = "btn" })
            }
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.Intellectual_8_Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intellectual_8_Class)
            @if (Model.Intellectual_8_Class != String.Empty)
            {
                @Html.ActionLink("Подробнее", "Details", "Intellectual_8_Class", new { id = Model.StudentID }, new { @class = "btn" })
                @Html.ActionLink("Изменить", "Edit", "Intellectual_8_Class", new { id = Model.StudentID }, new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Создать", "Create", "Intellectual_8_Class", new { id = Model.StudentID }, new { @class = "btn" })
            }
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.Intellectual_9_Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intellectual_9_Class)
            @if (Model.Intellectual_9_Class != String.Empty)
            {
                @Html.ActionLink("Подробнее", "Details", "Intellectual_9_Class", new { id = Model.StudentID }, new { @class = "btn" })
                @Html.ActionLink("Изменить", "Edit", "Intellectual_9_Class", new { id = Model.StudentID }, new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Создать", "Create", "Intellectual_9_Class", new { id = Model.StudentID }, new { @class = "btn" })
            }
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.Interests_Card_145)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interests_Card_145)
            @if (Model.Interests_Card_145 != String.Empty)
            {
                @Html.ActionLink("Подробнее", "Details", "Interests_Card_145", new { id = Model.StudentID }, new { @class = "btn" })
                @Html.ActionLink("Изменить", "Edit", "Interests_Card_145", new { id = Model.StudentID }, new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Подробнее", "Creare", "Interests_Card_145", new { id = Model.StudentID }, new { @class = "btn" })
            }
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.Interests_Card_50)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interests_Card_50)
            @if (Model.Interests_Card_50 != String.Empty)
            {
                @Html.ActionLink("Подробнее", "Details", "Interests_Card_50", new { id = Model.StudentID }, new { @class = "btn" })
                @Html.ActionLink("Изменить", "Edit", "Interests_Card_50", new { id = Model.StudentID }, new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Создать", "Create", "Interests_Card_50", new { id = Model.StudentID }, new { @class = "btn" })
            }
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.InterestsInSchoolSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestsInSchoolSubject)
            @if (Model.InterestsInSchoolSubject != String.Empty)
            {
                @Html.ActionLink("Подробнее", "Details", "InterestsInSchoolSubjects", new { id = Model.StudentID }, new { @class = "btn" })
                @Html.ActionLink("Изменить", "Edit", "InterestsInSchoolSubjects", new { id = Model.StudentID }, new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Создать", "Create", "InterestsInSchoolSubjects", new { id = Model.StudentID }, new { @class = "btn" })
            }
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.PersonaAnxietyScale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonaAnxietyScale)
            @if (Model.PersonaAnxietyScale != String.Empty)
            {
                @Html.ActionLink("Подробнее", "Details", "PersonaAnxietyScales", new { id = Model.StudentID }, new { @class = "btn" })
                @Html.ActionLink("Изменить", "Edit", "PersonaAnxietyScales", new { id = Model.StudentID }, new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Создать", "Create", "PersonaAnxietyScales", new { id = Model.StudentID }, new { @class = "btn" })
            }
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalProtagonistAizenko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalProtagonistAizenko)
            @if (Model.PersonalProtagonistAizenko != String.Empty)
            {
                @Html.ActionLink("Подробнее", "Details", "PersonalProtagonistAizenko", new { id = Model.StudentID }, new { @class = "btn" })
                @Html.ActionLink("Изменить", "Edit", "PersonalProtagonistAizenko", new { id = Model.StudentID }, new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Создать", "Create", "PersonalProtagonistAizenko", new { id = Model.StudentID }, new { @class = "btn" })
            }
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolMotivation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolMotivation)
            @if (Model.SchoolMotivation != String.Empty)
            {
                @Html.ActionLink("Подробнее", "Details", "SchoolMotivations", new { id = Model.StudentID }, new { @class = "btn" })
                @Html.ActionLink("Изменить", "Edit", "SchoolMotivations", new { id = Model.StudentID }, new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Создать", "Create", "SchoolMotivations", new { id = Model.StudentID }, new { @class = "btn" })
            }
        </dd><br>

        <dt>
            @Html.DisplayNameFor(model => model.Self_esteem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Self_esteem)
            @if (Model.Self_esteem != String.Empty)
            {
                @Html.ActionLink("Подробнее", "Details", "Self_esteem", new { id = Model.StudentID }, new { @class = "btn" })
                @Html.ActionLink("Изменить", "Edit", "Self_esteem", new { id = Model.StudentID }, new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Создать", "Create", "Self_esteem", new { id = Model.StudentID }, new { @class = "btn" })
            }
        </dd><br>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.StudentID }, new { @class = "btn btn-success" })
    @Html.ActionLink("Вернутся", "Index", null, new { @class = "btn btn-primary" })
</p>
