@model PsychologicalSupports.Models.Student

@{
    ViewBag.Title = "Edit";
}

<h2>Изменить</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Учащиеся</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.StudentID)

    <div class="form-group">
        @Html.LabelFor(model => model.FIO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FIO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FIO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NumberClass, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.NumberClass, new SelectList(PsychologicalSupports.Enums.GetNumberClass(), new { @class = "dropdown-list-size" }))
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Class,  new SelectList(Enum.GetValues(typeof(PsychologicalSupports.Enum.Class))), new { @class = "dropdown-list-size" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AdmissionDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AdmissionDate, new { htmlAttributes = new { @class = "form-control datepicker dropdown-list-size", @type = "date" } })
            @Html.ValidationMessageFor(model => model.AdmissionDate, "", new { @class = "text-danger" })
        </div>
    </div> 

    <div class="form-group">
        @Html.LabelFor(model => model.BeingTrained, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.BeingTrained, new List<SelectListItem>
            {
                new SelectListItem{ Text="Обучается", Value = "true" },
                new SelectListItem{ Text="Не обучается", Value = "false" }
            }, new { @class = "dropdown-list-size" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-info" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Вернутся", "Index", null, new { @class = "btn btn-primary" })
</div>