@{
    ViewBag.Title = "Index";
}
<h2>Учащиеся</h2>
<div>
    <p>
        @Html.ActionLink("Сформировать отчет", "Download", null, new { @class = "btn btn-primary" })
    </p>
    <p>
        @Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-success" })
    </p>
    @using (Html.BeginForm())
    {
        <p>
            Поиск: @Html.TextBox("search")
        </p>
    }
    @using (Html.BeginForm())
    {
        <div class="div-list">
            @Html.DropDownList("Class", new SelectList(Enum.GetValues(typeof(PsychologicalSupports.Enum.Class))), new { @class = "list" })
        </div>
        <div class="div-list">
            @Html.DropDownList("NumberClass", new SelectList(PsychologicalSupports.Enums.GetNumberClass()), new { @class = "list" })
        </div>
        <input class="btn btn-info" type="submit" value="Фильтровать" />
    }

    @Html.Partial("~/Views/Partials/_StudentTable.cshtml");
</div>