@model IEnumerable<PsychologicalSupports.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdmissionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeingTrained)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AveragePoint.AveragePointID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassroomRelationship.IGS_Sishora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassTeacheInformation.Self_harmingBehavior)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmotioTest.PhysicalAggression)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyAlarmAnalysi.Fault)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intellectual_6_Class.TestLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intellectual_7_Class.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intellectual_8_Class.InterestMap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intellectual_9_Class.Profile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interests_Card_145.Biology)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interests_Card_50.PhysicsMathematics)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestsInSchoolSubject.Russian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mindset.Subject_Effective)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonaAnxietyScale.School)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalProtagonistAizenko.Temperament)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolMotivation.StudyInClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Self_esteem.Indicator)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdmissionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeingTrained)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AveragePoint.AveragePointID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassroomRelationship.IGS_Sishora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassTeacheInformation.Self_harmingBehavior)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmotioTest.PhysicalAggression)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyAlarmAnalysi.Fault)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intellectual_6_Class.TestLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intellectual_7_Class.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intellectual_8_Class.InterestMap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intellectual_9_Class.Profile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interests_Card_145.Biology)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interests_Card_50.PhysicsMathematics)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestsInSchoolSubject.Russian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mindset.Subject_Effective)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonaAnxietyScale.School)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalProtagonistAizenko.Temperament)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolMotivation.StudyInClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Self_esteem.Indicator)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentID })
        </td>
    </tr>
}

</table>
