@model PsychologicalSupports.Models.Interests_Card_50

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Interests_Card_50</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhysicsMathematics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicsMathematics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChemistryBiology)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChemistryBiology)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RadioEngineeringElectronics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RadioEngineeringElectronics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MechanicsDesign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MechanicsDesign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeographyGeology)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeographyGeology)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiteratureArt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiteratureArt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HistoryPolitics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HistoryPolitics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PedagogyMedicine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PedagogyMedicine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntrepreneurshiHomeEconomics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntrepreneurshiHomeEconomics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SportsMilitary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SportsMilitary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
