@model PsychologicalSupports.Models.Interests_Card_50

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FIO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhysicsMathematics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicsMathematics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChemistryBiology)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChemistryBiology)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RadioEngineeringElectronics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RadioEngineeringElectronics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MechanicsDesign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MechanicsDesign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GeographyGeology)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GeographyGeology)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiteratureArt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiteratureArt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HistoryPolitics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HistoryPolitics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PedagogyMedicine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PedagogyMedicine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntrepreneurshiHomeEconomics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntrepreneurshiHomeEconomics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SportsMilitary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SportsMilitary)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Вернуться", "Index")
</p>
