@model PsychologicalSupports.Models.EmotioTest

@{
    ViewBag.Title = "Удалить";
}

<h2>Удалить</h2>
<h4>Тест эмоций</h4>
<h3>Вы действительно хотите удалить данного учащегося?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FIO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhysicalAggression)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhysicalAggression)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndirectAggression)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndirectAggression)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Irritability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Irritability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Negativism)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Negativism)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Touchiness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Touchiness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suspicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suspicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerbalAggression)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerbalAggression)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guilt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guilt)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-success" /> 
            @Html.ActionLink("Карточка учащегося", "Details","Students", new { id = Model.StudentID }, new { @class = "btn btn-primary" })
        </div>
    }
</div>
