<h4>Тест эмоций</h4>@model PsychologicalSupports.Models.EmotioTest

@{
    ViewBag.Title = "Edit";
}

<h2>Изменить</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.StudentID)
    <div class="form-group">
        @Html.LabelFor(model => model.StudentID, "Учащийся", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Label((string)ViewBag.StudentName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PhysicalAggression, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.PhysicalAggression, new SelectList(PsychologicalSupports.Enums.GetFamilyAlarmAnalysis()), new { @class = "dropdown-list-size" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IndirectAggression, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.IndirectAggression, new SelectList(PsychologicalSupports.Enums.GetFamilyAlarmAnalysis()), new { @class = "dropdown-list-size" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Irritability, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Irritability, new SelectList(PsychologicalSupports.Enums.GetFamilyAlarmAnalysis()), new { @class = "dropdown-list-size" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Negativism, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Negativism, new SelectList(PsychologicalSupports.Enums.GetFamilyAlarmAnalysis()), new { @class = "dropdown-list-size" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Touchiness, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Touchiness, new SelectList(PsychologicalSupports.Enums.GetFamilyAlarmAnalysis()), new { @class = "dropdown-list-size" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Suspicion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Suspicion, new SelectList(PsychologicalSupports.Enums.GetFamilyAlarmAnalysis()), new { @class = "dropdown-list-size" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VerbalAggression, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.VerbalAggression, new SelectList(PsychologicalSupports.Enums.GetFamilyAlarmAnalysis()), new { @class = "dropdown-list-size" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Guilt, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Guilt, new SelectList(PsychologicalSupports.Enums.GetFamilyAlarmAnalysis()), new { @class = "dropdown-list-size" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Вернутся", "Index", null, new { @class = "btn btn-primary" })
</div>
