@model IEnumerable<PsychologicalSupports.Models.FamilyAlarmAnalysi>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fault)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anxiety)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.General)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.FIO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fault)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anxiety)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.General)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FIO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.FamilyAlarmAnalysisID, id2 = item.StudentID }) |
            @Html.ActionLink("Details", "Details", new { id = item.FamilyAlarmAnalysisID, id2 = item.StudentID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.FamilyAlarmAnalysisID, id2 = item.StudentID })
        </td>
    </tr>
}

</table>
