@model PsychologicalSupports.Models.AveragePoint

@{
    ViewBag.Title = "Удалить";
}

<h2>Удалить</h2>

<h3>Вы действительно хотите удалить данного учащегося?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FIO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AveragePoint_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AveragePoint_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AveragePoint_7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AveragePoint_7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AveragePoint_8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AveragePoint_8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AveragePoint_9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AveragePoint_9)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-success" /> |
            @Html.ActionLink("Вернутся", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
