@model PsychologicalSupports.Models.PersonalProtagonistAizenko

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробнее</h2>
<h4>Персональный тест личности</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.FIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FIO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Temperament)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temperament)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.StudentID }, new { @class = "btn btn-success" })
    @Html.ActionLink("Карточка учащегося", "Details","Students", new { id = Model.StudentID }, new { @class = "btn btn-primary" })
</p>
