@model PsychologicalSupports.Models.Self_esteem

@{
    ViewBag.Title = "Удалить";
}

<h2>Удалить</h2>
<h4>Самооценка</h4>
<h3>Are you sure you want to Удалить this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.FIO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.FIO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Indicator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indicator)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-success" /> 
            @Html.ActionLink("Карточка учащегося", "Details","Students", new { id = Model.StudentID }, new { @class = "btn btn-primary" })
        </div>
    }
</div>
