<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/HomePage/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav navbar-left">
                <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                <li> @Html.ActionLink("Учащиеся", "Index", "Students")</li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Эмоциональная <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Семейная тревожность", "Index", "FamilyAlarmAnalysis")</li>
                        <li>@Html.ActionLink("Шкала личностной тревоги", "Index", "PersonaAnxietyScales")</li>
                        <li>@Html.ActionLink("Взаимоотношение в классе", "Index", "ClassroomRelationships")</li>
                        <li>@Html.ActionLink("Информация классного руководителя", "Index", "ClassTeacheInformations")</li>
                        <li>@Html.ActionLink("Самооценка", "Index", "Self_esteem")</li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Личностная <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Mindsets", "Index", "Mindsets")</li>
                        <li>@Html.ActionLink("Персональный тест личности", "Index", "PersonalProtagonistAizenkoes")</li>
                        <li>@Html.ActionLink("Школьная мотивация", "Index", "SchoolMotivations")</li>
                        <li>@Html.ActionLink("Карта интересов 145", "Index", "Interests_Card_145")</li>
                        <li>@Html.ActionLink("Карта интересов 50", "Index", "Interests_Card_50")</li>
                        <li>@Html.ActionLink("Отношение к учебным предметам", "Index", "InterestsInSchoolSubjects")</li>
                        <li>@Html.ActionLink("Тест эмоций", "Index", "EmotioTests")</li>
                        <li>@Html.ActionLink("Средний балл", "Index", "AveragePoints")</li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Интеллектуальная <span class="caret"></span></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("6 класс", "Index", "Intellectual_6_Class", null, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("7 класс", "Index", "Intellectual_7_Class", null, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("8 класс", "Index", "Intellectual_8_Class", null, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("9 класс", "Index", "Intellectual_9_Class", null, new { @class = "dropdown-item" })</li>
                    </ul>
                </li>
                <li> @Html.ActionLink("Архив", "Archive", "Students")</li>
            </ul>
            <div class="btn-group navbar-right">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content bg-light">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
