@model IEnumerable<PsychologicalSupports.Models.Mindset>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Student.FIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject_Effective)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbstractSymbolic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Verbal_Logical)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visually_Shaped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creativity)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject_Effective)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbstractSymbolic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Verbal_Logical)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visually_Shaped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creativity)
        </td>

        <td>
             @Html.ActionLink("Изменить", "Edit", new { id = item.StudentID }, new { @class = "btn btn-info" })
            @Html.ActionLink("Подробнее", "Details", new { id = item.StudentID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Удалить", "Delete", new { id = item.StudentID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
